/*12e page*/

#sut.page-header h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 96px;
  /*color: #6ed3cf;*/
  color: #4EBFB4;
}

small {
  color: #7f7f7f !important;
}

.mainLinks a {
  font-family: 'Source Sans Pro', sans-serif;
  /*font-size: 36px;*/
  text-align: center;
  color: #F73D7C;
}

.mainLinks a:hover {
  color: #7f7f7f;
}

h2 {
  /*font-family:'Exo 2',sans-serif;*/
  /*font-size:36px;*/
  text-align: center;
}

.unitTitles h3 {
  text-align: left;
  font-weight: bold;
  /*font-size: 30px;*/
}

.unitTitles p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
