.page-header h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  text-align: center;
  color: #0AFFF0;
  padding-top: 15px;
}

/*.page-header h4 {
  font-family: 'Gentium Basic', serif;
  font-size: 24px;
  text-align: center;
  color: #000000;
}*/

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  text-align: center;
  color: #1C7ACC;
}

.glyph1 {
	text-align: center;
	font-size: 48px;
  padding-top: 10px;
}

.glyph2 {
	text-align: center;
	font-size: 40px;
  padding-top: 10px;
  color: #1C7ACC;
}

.mainLinks a {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  text-align: center;
  color: #1C7ACC;
}

/*.mainLinks {
  text-align: center;
  font-size: 24px;
}*/

a:hover {
    color: #FF4A92;
}
