#main.page-header h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  text-align: center;
  color: #6ed3cf;
  padding-top: 15px;
}

.container-fluid {
  background-color: #ffffff;
}

#navtop.container-fluid {
  background-color: #3b3a36;
}

/*.page-header h4 {
  font-family: 'Gentium Basic', serif;
  font-size: 24px;
  text-align: center;
  color: #000000;
}*/

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  text-align: center;
  color: #9068be;
}

.glyph1a {
	text-align: center;
	font-size: 48px;
  color: #999999;
}

.glyph1 {
	text-align: center;
	font-size: 48px;
  padding-top: 10px;
  color: #999999;
}

/*.glyph2 {
	text-align: center;
	font-size: 40px;
  padding-top: 10px;
  color: #e1e8f0;
}*/

.modal-header h2 {
  font-family: 'Neuton', serif;
  font-size: 48px;
  text-align: left;
}

.mainLinks a {
  font-family: 'Neuton', serif;
  font-size: 48px;
  text-align: center;
  color: #9068be;
}

.modal-body p {
  font-family: 'Exo 2', sans-serif;
  font-size: 24px;
  text-align: center;
}

.modal-open .modal,.btn:focus,a:focus{
    outline:none!important;
}

/*.mainLinks {
  text-align: center;
  font-size: 24px;
}*/

a:hover {
    color: #e62739;
}

/*.btmQuote {
  font-family: 'Old Standard TT', serif;
  font-size: 20px;
  text-align: center;
}*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  text-align: center;
  color: #ffffff;
  background-color: #1C2841;
  padding-top: 10px;
}

/*#navbtm.navbar-header {
  text-align: center;
  color: #ffffff;
  background-color: #1C2841;
  padding-top: 10px
}*/

#jeterQuote {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

#jeterName {
  font-family: 'Playball', cursive;
  color: #ffffff;
  font-size: 18px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow-x: hidden;
}
